In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris_df = pd.read_csv('./Iris.csv')
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [14]:
iris_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [17]:
iris_df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [19]:
iris_df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [21]:
#label encode the target variable
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()
iris_df['Species'] = encode.fit_transform(iris_df['Species'])

In [22]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [32]:
from sklearn.model_selection import train_test_split
iris_train , iris_test = train_test_split(iris_df, test_size=0.25, random_state=30)

In [33]:
iris_train.shape

(112, 6)

In [34]:
iris_test.shape

(38, 6)

In [35]:
iris_df.shape

(150, 6)

In [36]:
iris_train_x = iris_train.drop(columns=['Species'], axis=1)

In [37]:
iris_train_x.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
71    72            6.1           2.8            4.0           1.3
129  130            7.2           3.0            5.8           1.6
143  144            6.8           3.2            5.9           2.3
128  129            6.4           2.8            5.6           2.1
14    15            5.8           4.0            1.2           0.2

In [38]:
iris_train_y = iris_train['Species']

In [39]:
iris_train_y.head()

71     1
129    2
143    2
128    2
14     0
Name: Species, dtype: int32

In [41]:
from sklearn.linear_model import LogisticRegression
lr_model= LogisticRegression()
lr_model.fit(iris_train_x, iris_train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
iris_test_x = iris_test.drop(columns=['Species'], axis=1)
iris_test_y = iris_test['Species']

In [43]:
predict = lr_model.predict(iris_test_x)

In [44]:
lr_model.coef_

array([[-0.0746707 ,  0.81686793,  0.84801553, -1.64868991, -0.82153749],
       [-0.0527849 , -0.66030197,  0.03460747,  1.10813416, -0.7046373 ],
       [ 0.1274556 , -0.15656596, -0.88262299,  0.54055575,  1.52617479]])

In [45]:
lr_model.intercept_

array([  5.32450866,   7.12416352, -12.44867218])

In [46]:
from sklearn.metrics import accuracy_score
iris_accuracy = accuracy_score(iris_test_y, predict)
iris_accuracy

1.0